/************************************************************************************************************/
//
//                                              size
//
/************************************************************************************************************/

$header--height: 46px;
$footer--height: 60px;

/************************************************************************************************************/
//
//                                               color
//
/************************************************************************************************************/

$color-point: #761aff;

/************************************************************************************************************/
//
//                                              shadow
//
/************************************************************************************************************/

$shadow-footer: 0px 0px 50px 1px rgba(118, 26, 255, 0.1);
