/************************************************************************************************************/
//
//                                              size
//
/************************************************************************************************************/

$header--height: 46px;
$footer--height: 60px;

/************************************************************************************************************/
//
//                                               color
//
/************************************************************************************************************/

$color-point: #761aff;
$color-white: #fff;

/************************************************************************************************************/
//
//                                              shadow
//
/************************************************************************************************************/

$shadow-footer: 0px 0px 50px 1px rgba(118, 26, 255, 0.1);

/************************************************************************************************************/
//
//                                              page
//
/************************************************************************************************************/

@mixin page-header-footer() {
  min-height: calc((100vh - $footer--height - $header--height));
  margin-bottom: $footer--height;
  margin-top: $header--height;
  box-sizing: border-box;
  padding: 10px;
}

@mixin page-header() {
  margin-top: $header--height;
  box-sizing: border-box;
  padding: 10px;
}

@mixin page-footer() {
  margin-bottom: $footer--height;
  box-sizing: border-box;
  padding: 10px;
}
