/************************************************************************************************************/
//
//                                              size
//
/************************************************************************************************************/

$header--height: 46px;
$footer--height: 60px;

/************************************************************************************************************/
//
//                                               color
//
/************************************************************************************************************/

$color-point: #761aff;
$color-white: #fff;
$color-border: #33344e;
$color-back: #fffaff;

/************************************************************************************************************/
//
//                                              shadow
//
/************************************************************************************************************/

$shadow-footer: 0px 0px 50px 1px rgba(118, 26, 255, 0.1);
$shadow-object: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);

/************************************************************************************************************/
//
//                                              page
//
/************************************************************************************************************/

@mixin page-header-footer() {
  min-height: calc((100vh - $footer--height - $header--height));
  padding-bottom: $footer--height;
  padding-top: $header--height;
  background: $color-back;
  box-sizing: border-box;
}

@mixin page-header() {
  padding-top: $header--height;
  box-sizing: border-box;
}

@mixin page-footer() {
  padding-bottom: $footer--height;
  box-sizing: border-box;
}

/************************************************************************************************************/
//
//                                              size
//
/************************************************************************************************************/

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

/************************************************************************************************************/
//
//                                              flex
//
/************************************************************************************************************/

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
