@use "./variables" as var;

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  img {
    width: 94px;
    height: 44px;
  }
}

.logo {
  position: absolute;
  left: calc((100% - 94px) / 2);
  top: calc((100% - 44px) / 3);
}
